body{background-color: yellow;}

.header1{font-family: arial; font-size: 25px; color:blueviolet;}
#uname{font-size: 20px; background-color:#3cb371;color: white;}

div,p{}
p,b,i{background-color: red;color: white;}